{# Module macros #}

{% macro color(value) %}

  {% set colorhex = value.color|convert_rgb %}
  {% if value.opacity != null %}
    {% set coloropacity = value.opacity / 100 %}
  {% else %}
    {% set coloropacity = "1" %}
  {% endif %}


  rgba({{ colorhex }}, {{ coloropacity }})

{% endmacro %}

{# Module variables #}

{% set form_title_font_color = module.styles.title.text.color.color %}
{% set form_label_font_color = module.styles.labels.text.color.color %}
{% set form_help_text_font_color = module.styles.help_text.text.color.color %}
{% set form_field_placeholder_color = module.styles.fields.placeholder.color.color %}
{% set form_field_font_color = module.styles.fields.text.color.color %}
{% set form_field_bg_color = color(module.styles.fields.background.color) %}
{% set form_field_border = module.styles.fields.border.border.css %}
{% set form_field_corner_radius = module.styles.fields.corner.radius ~ 'px' %}

{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

      /* Form title */

      .form-title {
        color: {{ form_title_font_color }};
      }

      /* Labels */

      form label {
        color: {{ form_label_font_color }};
      }

      /* Help text */

      form legend {
        color: {{ form_help_text_font_color }};
      }

      /* Inputs */

      form input[type=text],
      form input[type=email],
      form input[type=password],
      form input[type=tel],
      form input[type=number],
      form input[type=file],
      form select,
      form textarea {
        {{ form_field_border }}
        background-color: {{ form_field_bg_color }};
        color: {{ form_field_font_color }};
        border-radius: {{ form_field_corner_radius }};
      }

      /* Form placeholder text */

      ::-webkit-input-placeholder {
        color: {{ form_field_placeholder_color }};
      }

      ::-moz-placeholder {
        color: {{ form_field_placeholder_color }};
      }

      :-ms-input-placeholder {
        color: {{ form_field_placeholder_color }};
      }

      ::placeholder {
        color: {{ form_field_placeholder_color }};
      }

      /* Inputs - date picker */

      .hs-fieldtype-date .input .hs-dateinput:before {
        color: {{ form_field_placeholder_color }};
      }

    {% end_scope_css %}
  </style>
{% end_require_css %}

{% if module.title is truthy %}
	{% set no_title = False %}
{% else %}
	{% set no_title = True %}
{% endif %}

{% if module.form.form_id %}
	{% form
    form_key='{{ name }}',
    form_to_use='{{ module.form.form_id }}',
    title='{{ module.title }}',
    no_title='{{ no_title }}',
    response_response_type='{{ module.form.response_type }}',
    response_redirect_id='{{ module.form.redirect_id }}',
    response_redirect_url='{{ module.form.redirect_url }}',
    response_message='{{ module.form.message }}'
	%}
{% else %}
	{% form
    title='{{ module.title }}',
    no_title='{{ no_title }}',
  %}
{% endif %}
