/* Main Navigation wrapper */
.menu ul.menu__wrapper {
  display: flex;
  align-items: center;
  min-height: 96px;
  gap: 24px;
}

.menu ul.menu__wrapper .menu__item--has-submenu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-height: 96px;
}

.menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menu > ul > li {
  display: inline-block;
}

.menu > ul > li > a,
.menu > ul > li > span {
  display: block;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 16px;
  letter-spacing: 0.03em;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.menu > ul > li:hover > .menu__submenu,
.menu > ul > li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu > ul > li,
.menu > ul > li > a.menu__link {
  cursor: pointer;
}

.menu > ul > li > a.menu__link {
  position: relative;
  padding: 0;
  z-index: 9;
}

.menu > ul > li > a.menu__link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -39px;
  background-color: #64cfba;
  z-index: 9;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform: translateY(-4px);
}

.menu > ul > li:hover > a.menu__link:before {
  opacity: 1;
  transform: translateY(0);
}

.menu > ul > li:hover > a.menu__link,
.menu > ul > li:hover > span.menu__link {
  color: #64cfba;
}

.menu > ul .menu__submenu,
.menu > ul .sub-menu {
  z-index: 6;
  padding: 0;
  position: absolute;
  background: #fcfcfc;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform: translateY(20%);
}

.menu > ul .menu__submenu > li a,
.menu > ul .sub-menu > li a {
  display: block;
  color: #252525;
  text-decoration: none;
  font-size: 13px;
  color: #858585;
}

.menu > ul .menu__submenu > li > .sub-menu,
.menu > ul .sub-menu > li > .sub-menu {
  background: #f8f8f8;
}

.menu > ul .menu__submenu {
  left: 0;
  width: 100%;
  top: 97px;
  border-color: transparent;
  background-color: #ffffff;
}

.menu > ul .menu__submenu li {
  display: inline-block;
  position: relative;
}

.menu > ul .menu__submenu li .badge {
  position: absolute;
  padding: 3px 5px;
  background: #e74c3c;
  font-size: 10px;
  right: -10px;
  z-index: 999;
  color: #fff;
}

.menu > ul .menu__submenu li a {
  padding: 5px 20px;
  font-size: 13px;
}

.menu > ul .menu__submenu li ul {
  padding: 0;
}

.menu > ul .menu__submenu li ul li {
  display: block;
}

.menu > ul .menu__submenu li ul li a {
  color: #858585;
  transition: all 0.5s ease-in-out;
}

.menu > ul .menu__submenu li ul li:hover a {
  background: #545454;
  color: white;
}

.menu > ul .menu__submenu > li {
  margin-right: 30px;
}

.menu > ul .menu__submenu > li > a {
  font-weight: bold;
  text-transform: uppercase;
}

.menu > ul .sub-menu {
  min-width: 200px;
}

.menu > ul .sub-menu li {
  display: block;
  position: relative;
}

.menu > ul .sub-menu li a {
  padding: 10px 30px;
  transition: all 0.5s ease-in-out;
}

.menu > ul .sub-menu li .sub-menu {
  border-top: none;
  left: 100%;
  top: 0;
}

.menu > ul .sub-menu li:hover > .menu__submenu,
.menu > ul .sub-menu li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu > ul .sub-menu li:hover > a {
  background: #545454;
  color: white;
}

.hero {
  text-align: center;
  padding: 10% 0;
}

.hero h2 {
  text-transform: uppercase;
  font-size: 72px;
  font-family: 'Oswald', sans-serif;
  color: #545454;
}

.hero p {
  color: #a3a3a3;
}

.menu__submenu,
.sub-menu {
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.1),
    5px 5px 15px 5px rgba(0, 0, 0, 0.06);
}

.menu.menu--mobile {
  display: none;
}

/* Container */
.menu__submenu--container > div {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  max-width: 1200px;
  margin-inline: auto;
}

.menu__submenu--column {
  width: 25%;
  padding: 3.5rem 1.5rem;
}

.menu__submenu--column-with-bg {
  position: relative;
  background-color: #f1f8ff;
}

.menu__submenu--column-with-bg:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1200px;
  top: 0;
  bottom: 0;
  background-color: #f1f8ff;
}
