{# Menu items #}

{% macro menu_items() %}

  {% set menu = menu(module.menu, "site_root").children %}

  {% macro render_link_item(link, depth, index) %}
    <li class="menu__item menu__item--depth-{{ depth }} {{ "menu__item--has-submenu" if link.children and depth < module.max_levels }} hs-skip-lang-url-rewrite">
      {% if link.url %}
        <a class="menu__link {{ "menu__link--toggle" if link.children and depth < module.max_levels }} {{ "menu__link--active-branch" if link.activeBranch }} {{ "menu__link--active-link" if link.activeNode }}" href="{{ link.url }}" {{ 'aria-haspopup="true" aria-expanded="false"' if link.children and depth < module.max_levels }} {{ 'aria-current="page"' if link.activeNode }} {{ 'target="_blank" rel="noopener"' if link.linkTarget }}>{{ link.label }}</a>
      {% else %}
        {% if link.children and depth < module.max_levels %}
          <a class="menu__link menu__link--toggle" href="#" aria-haspopup="true" aria-expanded="false">{{ link.label }}</a>
        {% else %}
          <span class="menu__link">{{ link.label }}</span>
        {% endif %}
      {% endif %}
      {% if link.children %}
        {% if depth and depth < module.max_levels %}
          <ul class="menu__submenu menu__submenu--level-{{ depth + 1 }} no-list">
            {% set depth = depth + 1 %}
            {# {% for sublink in link.children %}
              {{ render_link_item(sublink, depth) }}
            {% endfor %} #}

            <div class="menu__submenu--container">
              {% if index == 1 %}
                {% global_partial path="../../templates/partials/menu/product.html" %}
              {% endif %}

              {% if index == 2 %}
                 {% global_partial path="../../templates/partials/menu/industries.html" %}
              {% endif %}

              {% if index == 3 %}
                {% global_partial path="../../templates/partials/menu/solutions.html" %}
              {% endif %}

              {% if index == 5 %}
                {% global_partial path="../../templates/partials/menu/resources.html" %}
              {% endif %}

              {% if index == 6 %}
                {% global_partial path="../../templates/partials/menu/partners.html" %}
              {% endif %}
            </div>
          </ul>
          {% endif %}
      {% endif %}
    </li>
  {% endmacro %}

  {% for link in menu %}
    {{ render_link_item(link, 1, loop.index) }}
  {% endfor %}

{% endmacro %}

{# Desktop menu #}
<nav class="menu menu--desktop" aria-label="Main menu">
  <ul class="menu__wrapper no-list">
    {{ menu_items() }}
  </ul>
</nav>

{# Mobile menu #}
<nav class="menu menu--mobile" aria-label="Main menu">
  <ul class="menu__wrapper no-list">
    {{ menu_items() }}
  </ul>
</nav>
